<div class="navbar-fixed">
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">Addictions Recovery Coach</a></li>
        <li><a href="#!">Certified Addictions Therapist</a></li>
        <li><a href="#!">Certified Master Addictions Therapist</a></li>
        <li class="divider"></li>
        <li><a href="#!">Renewal</a></li>
        <li class="divider"></li>
        <li><a href="#!">About Us</a></li>
    </ul>
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">APCB</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a href="/login">Log In</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </div>
    </nav>
</div>
