<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head', { currentUser }) %>
    <title>Register</title>
</head>

<body>
    <%- include('./partials/header') %>
    <div>
        <h1>Error</h1>
        <p><%= message %></p>
    </div>
    <%- include('./partials/footer') %>
</body>

</html>
