<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <title>Asia Pacific Certification Board</title>
</head>

<body>
    <%- include('./partials/header') %>
    <h1>Asia Pacific Certification Board</h1>
    <%- include('./partials/footer') %>
</body>

</html>
