<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <title>Asia Pacific Certification Board</title>
</head>

<body>
    <%- include('./partials/header') %>
    <div class="container align-middle" style="height: 700vh;">
        <div class="row ">
            <h1 class="text-center col ">Asia Pacific Certification Board</h1>
        </div>
    </div>
    <%- include('./partials/footer') %>
</body>

</html>
