<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <title>Login</title>
</head>

<body>
    <%- include('./partials/header', { currentUser }) %>
    <div class="container">
        <h1>Asia Pacific Certification Board</h1>
        <form action="/login" method="post">
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" required>
            </div>
            <input type="submit" value="Login" class="btn btn-primary">
            <a href="/" class="btn btn-danger">Cancel</a>
        </form>
    </div>
    <%- include('./partials/footer') %>
</body>

</html>
