<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <title>Dashboard</title>
</head>

<body>
    <%- include('./partials/header', { currentUser }) %>
    <h1>Welcome back, <%= currentUser.name %>!</h1>
    <div class="container">
        <div class="row members">
            <div class="card col-sm-3">
                <div class="card-body">
                    <h5 class="card-title">Personal Particulars</h5>
                    <p class="card-text">We would like to get to know you better.</p>
                    <a href="/personal" class="btn btn-primary">Update</a>
                </div>
            </div>
            <div class="card col-sm-3">
                <div class="card-body">
                    <h5 class="card-title">Formal Education</h5>
                    <p class="card-text">What's your formal training like?</p>
                    <a href="/education" class="btn btn-primary">Update</a>
                </div>
            </div>
            <div class="card col-sm-3">
                <div class="card-body">
                    <h5 class="card-title">Work Experience</h5>
                    <p class="card-text">We would like to see some of your work experience.</p>
                    <a href="/experience" class="btn btn-primary">Update</a>
                </div>
            </div>
            <div class="card col-sm-3">
                <div class="card-body">
                    <h5 class="card-title">Courses and Training</h5>
                    <p class="card-text">We want to know that you have been maintaining and updating your skills.</p>
                    <a href="/training" class="btn btn-primary">Update</a>
                </div>
            </div>
            <div class="card col-sm-3">
                <div class="card-body">
                    <h5 class="card-title">Supervision</h5>
                    <p class="card-text">Find a mentor. Learn together. You need at least 20 hours of supervision a year
                        to maintain your skills.</p>
                    <a href="/supervision" class="btn btn-primary">Update</a>
                </div>
            </div>
            <div class="card col-sm-3">
                <div class="card-body">
                    <h5 class="card-title">Get Assessed</h5>
                    <p class="card-text">Once you are ready to be assessed for certification, click this. We will direct
                        you to the certification you are most suited for.</p>
                    <a href="/assess" class="btn btn-primary">Get Assessed!</a>
                </div>
            </div>
            <div class="card col-sm-3">
                <div class="card-body">
                    <h5 class="card-title">Renew</h5>
                    <p class="card-text">Renew your certification. Update your details first! You need 20 hours of
                        Supervision a year and 36 hours of Addiction related training since your last certification.</p>
                    <a href="/assess" class="btn btn-primary">Get Assessed!</a>
                </div>
            </div>
            <div class="card col-sm-3">
                <div class="card-body">
                    <h5 class="card-title">Exam</h5>
                    <p class="card-text">Take the Addictions Therapy Exam.</p>
                    <a href="/assess" class="btn btn-primary">Get Assessed!</a>
                </div>
            </div>
        </div>
    </div>
    <%- include('./partials/footer') %>
</body>

</html>
