<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <title>Register</title>
</head>

<body>
    <%- include('./partials/header') %>
    <div class="container">
        <h1>Asia Pacific Certification Board</h1>
        <form action="/register" method="post">
            <div class="input-field">
                <input type="email" name="email" id="email" class="validate">
                <label for="email">E-mail</label>
            </div>
            <div class="input-field">
                <input type="password" name="password" id="password">
                <label for="password">Password</label>
                <span class="helper-text">10 or more Characters, at least 1 Uppercase Alphabet, at least 1 Lowercase,
                    Alphabet, at least 1 Number and least 1 Special Character from @, $, !, %, *, ? and &</span>
            </div>
            <input type="submit" value="Register Now">
        </form>
    </div>
    <%- include('./partials/footer') %>
</body>

</html>
